* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    
}

body {
    background-color: #e9e9e9;
}

#header {
    padding: .3rem 2rem;
    background-color: rgb(255, 223, 40);
    height: 100px;
    border-bottom: 1px solid #b3b1b1;
}

#header-top {
    margin: 10px 320px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header-top img {
    height: 35px;
    width: 140px;
}

#header-top input {
    cursor: text;
    width: 600px;
    height: 30px;
    border: none;
    border: 10px;
}

#header-top #search{
    position: relative;
    left: -80px;
}

#header-top #handler {
    width: 400px;
    height: 100px;
}